.gradle/
build/
target/

.idea/
*.iws
*.iml
*.ipr
out/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
build_eclipse/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.DS_Store

*classes
*.class
lib_managed/
src_managed/
project/boot/
project/plugins/project/
patch-process/*
.svn
/.metadata
/.recommenders
*~
*#
.#*
rat.out
TAGS
.vagrant
Vagrantfile.local
/logs

config/server-*
config/zookeeper-*

core/data/*
gradle/wrapper/*.jar

results
tests/results
.ducktape
tests/.ducktape
tests/venv
.cache

docs/generated/

.release-settings.json

kafkatest.egg-info/
systest/
*.swp
jmh-benchmarks/generated
jmh-benchmarks/src/main/generated
**/.jqwik-database
**/src/generated
**/src/generated-test
**/src/**/build/
**/src/**/out/
**/src/**/bin/
